* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Banny';
    src: url(../fonts/Banny-LightRound.woff);
}
html {
    font-family: 'Open Sans', sans-serif;
}
.header {
    position: relative;
}
.container { 
    max-width: 1285px;
    width: 100%;
    margin: auto;
}
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
.nav__link:hover {
    color: bisque;
}
.header__nav {
    max-width: 732px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: -70px;
}
.header__logo {
    margin-top: 25px;
}
.section__hero {
    margin-top: -180px;
    padding-bottom: 100px;
    font-family: 'Open Sans', sans-serif;
    background: url(../img/header-bg.jpg) no-repeat center / cover;
}
.hero__block {
    color: #ffffff;
    padding-top: 364px;
    text-align: center;
}
.hero_subtitle {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
}
.hero__title__text {
    font-family: 'Banny';
    font-size: 96px;
}
.header__block {
    max-width: 849px;
    width: 100%;
    margin: auto;
}
.hero__text {  
    letter-spacing: 0.5em;
    font-size: 18px;
    line-height: 14px;
    padding-bottom: 50px;
    color: #ffffff;
}
.hero__text__title {
    font-size: 96px;
    color: #ffffff;
    margin-bottom: 31px;
}
.buttons {
    padding-top: 30px;
}
.container__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.button__primary {
    width: 200px;
    height: 60px;
    background: #E8C300;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff;
}
.button__secondary {
    margin-left: 40px;
    width: 200px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    background: transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff;
}
.button__arrow__down {
    margin-top: 54px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.section__about {
    padding-top: 100px;
    padding-bottom: 100px;
}
.text__block {
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: auto;
}
.section__text__title {
    font-size: 36px;
}
.text__title {
    font-family: 'Banny';
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
}
.text__title::after {
    content: "";
    width: 61px;
    height: 5px;
    background: #E8C300;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin-left: -31px;
}
.text__subtitle__about {
    padding-top: 15px;
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 30px;
}
.text__desc {
    padding-top: 20px;
    font-size: 14px;
    line-height: 28px;
}
.section__img {
    max-width: 575px;
    width: 100%;
    margin: auto;
}
.section__master {
    padding-top: 50px;
    padding-bottom: 100px;
    background: url(../img/specialty-bg.png) no-repeat center / cover;
}
.section__title {
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
}
.text__block__master {
    text-align: center;
    color: #ffffff;
    max-width: 600px;
    width: 100%;
    margin: auto;
}
.text__subtitle {
    padding-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}
.section__book {
    padding-top: 100px;
    padding-bottom: 50px;
}
.text__block__book {
    max-width: 570px;
    width: 100%;
    margin: auto;
}
.text__title__book {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}
.section__form {
    max-width: 277px;
    width: 100%;
    margin: auto;
    height: 60px;
    background: #E5E5E5;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 10px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.section__form__message {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    height: 120px;
    padding-bottom: 60px;
}
.button__book {
    max-width: 565px;
    width: 100%;
    margin: auto;
    height: 60px;
    background: #E8C300;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 20px;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}
.section__subtitle {
    padding-top: 50px;
    color: rgba(51, 51, 51, 0.5);
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}
.section__pancakes {
    padding-top: 50px;
    padding-bottom: 100px;
    background: url(../img/specialty-bg1.png) no-repeat center / cover;
}
.section__menu {
    padding-top: 100px;
    padding-bottom: 100px;
}
.menu__text {
    padding-top: 50px;
    max-width: 860px;
    width: 100%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}
.menu__block {
    padding-top: 51px;
    font-family: 'Banny';
    display: flex;
    justify-content: space-between;
}
.menu__group__name {
    display: flex;
    flex-direction: column;
    padding-top: 38px;
}
.menu__group__text {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}
.menu__group__text__desc {
    font-size: 14px;
}
.section__events {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(../img/specialty-bg2.png) no-repeat center / cover;
}
.section__title__text {
    color: #ffffff;
}
.img__group {
    display: flex;
    justify-content: space-between;
}
.section__subtitle__text {
    color: rgba(255, 255, 255, 0.5);
}
.photo__galerie {
    max-width: 1920px;
    width: 100%;
    margin: auto;
}
.galerie__img {
    max-width: 478px;
    width: 100%;
    margin: auto;
    margin-right: -7px;
}
.section__contact {
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact__form {
    padding-top: 50px;
}
.section__form__contact {
    max-width: 420px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    margin-right: 5px;
}
.contacts__group {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts__block {
    font-size: 13px;
    line-height: 14px;
}
.button__contacts {
    margin-left: 40px;
    width: 640px;
    height: 60px;
}
.section__map {
    background: url(../img/mapsdirectionspart.png) no-repeat center / cover;
    height: 475px;
}
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(0, 0, 0, 0.9);
}
.footer__title {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1440px) {
    .photo__galerie {
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .container {
        max-width: 750px;
        width: 100%;
        margin: auto;
    }
}
@media screen and (max-width: 450px) {
    .container {
        max-width: 400px;
        width: 100%;
        margin: auto;
    }
    .nav__link {
        display: none;
    }
    .section__img {
        display: none;
    }
    .photo__galerie {
        display: none;
    }
}